*{
margin:0;
font-family:Arial,sans-serif;
box-sizing:border-box;
}

/* NAVBAR */

.navbar{
height:60px;
background:#0f1111;
color:white;
display:flex;
align-items:center;
justify-content:space-evenly;
flex-wrap:wrap;
}

.navlogo{
height:50px;
width:100px;
}

.logo{
background-image:url("photo/logo.png");
height:50px;
width:100%;
background-size:contain;
background-repeat:no-repeat;
}

.border{
border:2px solid transparent;
}
.border:hover{
border:1.5px solid white;
}

/* ADDRESS */

.add-first{
color:#ccc;
font-size:0.85rem;
}
.add-sec{
font-size:1rem;
}
.add-icon{
display:flex;
align-items:center;
}

/* SEARCH */

.nav-search{
display:flex;
width:620px;
height:40px;
border-radius:4px;
overflow:hidden;
}

.search-select{
width:50px;
border:none;
}

.search-input{
width:100%;
border:none;
padding:8px;
}

.search-icon{
width:45px;
display:flex;
justify-content:center;
align-items:center;
background:#febd68;
}

/* PANEL */

.panel{
height:40px;
background:#222f3d;
display:flex;
align-items:center;
justify-content:space-evenly;
color:white;
}

.panel-opts p{
display:inline;
margin-left:15px;
}

/* HERO */

.hero-section{
background-image:url("photo/main.jpg");
background-size:cover;
background-position:center;
height:380px;
display:flex;
align-items:flex-end;
justify-content:center;
}

.hero-msg{
background:white;
padding:10px;
margin-bottom:25px;
}

/* SHOP */

.shop-section{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
background:#eee;
padding:10px;
}

.box{
height:400px;
width:23%;
background:white;
margin-top:15px;
padding:20px 0;
}

.box-img{
height:300px;
background-size:cover;
background-position:center;
margin:1rem 0;
}

.box-content{
margin:0 1rem;
}

/* FOOTER */

.foot-panel1{
background:#374758;
color:white;
height:50px;
display:flex;
justify-content:center;
align-items:center;
}

.foot-panel2{
background:#222f3d;
color:white;
display:flex;
justify-content:space-evenly;
padding:20px;
}

ul{
list-style:none;
}

.foot-panel3{
background:#222f3d;
border-top:1px solid white;
height:70px;
display:flex;
justify-content:center;
align-items:center;
}

.foot-panel4{
background:#0f1111;
color:white;
text-align:center;
padding:20px;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media(max-width:900px){

.nav-search{
width:100%;
margin-top:8px;
}

.box{
width:45%;
}

}

@media(max-width:600px){

.shop-section{
flex-direction:column;
align-items:center;
}

.box{
width:90%;
}

    }
